{% extends 'base.html' %}

{% block content %}
<main>
    <ul>
    {% for user in users %}
    <li>
        {{user}}
    </li>
    <ul>
        {% for recipe in user.recipes.all %}
        <li><a href="{% url 'recipe_detail' recipe.pk %}">{{recipe.name}}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</main>
{% endblock content %}